html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .overflow-overlay {
    overflow: overlay;
  }
}

/* div[data-rehype-pretty-code-fragment] {
  margin: 0 -20px;
  border-radius: 0;
}

div[data-rehype-pretty-code-fragment] > pre {
  border-radius: 0;
  font-size: 12px;
} */

.article {
  background: url(../public/R.jpeg) no-repeat top center;
  background-size: 100% 100%;
}

code {
  counter-reset: line;
}

code > .line::before {
  counter-increment: line;
  content: counter(line);
  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
  /* border-right: 1px solid gray; */
}
